:root {
  --primary: #f27400;
  --shadowPrimary: 0px 8px 20px rgba(242, 116, 0, 0.5);
  --secondary: #1a1a1a;
  --tertiary: #ffffff;
}

body {
  background: var(--secondary);
  color: #ffffff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
